@font-face {
    font-family: 'lato';
    src: url('../../../libraries/fontlato/Lato-Regular.ttf') format('truetype'); /* Asegúrate de usar la ruta correcta */
}

#hidden-date-input{
    display: none;
}
#div-onclick{
    display: none;
    position: absolute;
    margin: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}
body{
    background-color: rgba(209, 209, 209, 0.388);
    display: grid;
    grid-template-rows: 10rem 280px; 
    
}

*{  
    font-family: 'lato', sans-serif;
    margin: 0;
    padding: 0;
}


/*  Estilo header */

#header{
    color: #000000;
    max-height: 140px;
    min-height: 50px;
    height: 100%;
    width: 100%;
    box-sizing: content-box;
    justify-items: left;
    display: grid;
}

.header-section{
    background-color: #989898;
    width: 100%;
    height: 100%;
    position: relative;
    max-height: 140px;
    display: grid;
    grid-template-rows: 80% 25%;
}

.h-s-article{
    display: grid;
    height: 100%;
    grid-template-columns: 9em 1fr;
    justify-items: left;
    padding-top: 0.4em;
    padding-left: 4rem;
}

.h-s-a__div{
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}
.h-s-a__div:first-child{
    background-color: #494848;
    border-radius: 100%;
    height: 100%;
    min-height: 50px;
    max-width: 100px;
    min-width: 50px;
    max-height: 100px;
    position: relative;
}
.h-s-a-d__img{
    width: 120px;
    height: 120px;
    position: absolute;
    z-index: 100;
    margin-top: -0.5em;
    margin-left: -0.5em;
}

.h-s-a-d__h3{
    color: #FFFF00;
    font-size: 20px;
    margin: 0;
}

.h-s-a-d__h1{
    margin-top: 25px;
    box-sizing: content-box;
    font-size: 25px;
}

.h-s-a__nav ul{
    background-color: #494848;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    height: 110%;
    width: 100%;
    box-sizing: border-box;
    list-style: none;
    justify-items: center;
    padding: 0.5rem;
    padding-top: 0.1rem;
}

.h-s-a-n-l__a{
    text-decoration: none;
    display: block;
    padding-top: 0.1rem;
    text-align: center;
    font-size: 1.5rem;
    box-sizing: border-box;
    background-color: #989898;
    width: 100%;
    height: 100%;
    color: #000000;
}

.h-s-a-n-li{
    max-width: 20rem;
    width: 100%;
    margin-top: 0.3rem;
}


/*  Estilo footer */

#footer{
    background-color: #989898;
    color: #000000;
    max-height: 280px;
    min-height: 50px;
    height: 100%;
    width: 100%;
    box-sizing: content-box;
    justify-items: center;
    display: grid;
    grid-template-rows: 85% 15%;
    
}

.f-s__article{

    display: grid;
    margin-top: 10%;
    height: 65%;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100% 10%;
    gap: 5%;
    justify-content: center;

}

.f-s-a__div{
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}

.footer__section{
    background-color: #989898;
    width: 100%;
    display: grid;
    justify-content: center;
}

.footer__address{
    
    box-sizing: border-box;
    background-color: #494848;
    height: 100%;
    width: 100%;
    padding-top: 0.5rem;
    padding-left: 0.5%;
    justify-self: left;
}

.f-s-a__div:first-child{
    border-radius: 100%;
    height: 90%;
    margin-top: 15%;
    background-color: #494848;
}

.f-s-a-d__img{
    width: 150px;
    margin-top: -1rem;
    margin-left: -1.5rem;
    height: 150px;
    position: absolute;
    z-index: 100;
}

.f_a__a{
    color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
}

.f-s__nav ul{
    list-style: none;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.f-s-n-l__a{
    color: #000000;
    text-decoration: none;
}
.f-s-a-d__h3{
    color: #FFFF00;
    font-size: 20px;
    margin: 0;
}

.f-s-a-d__h1{
    box-sizing: content-box;
    margin-top: 18%;
    font-size: 25px;
}







/* index*/
#opciones{
    display: none;
    background-color: #D9D9D9;
    position: absolute;
    width: 100%;
    border: 0.1rem solid #2e2e2e;
}

#opciones div{
    cursor: pointer;
}
.agenciaimg_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 20rem));
    height: 10rem;
    margin-top: 2rem;
    gap: 5%;
    height: 100%;
    justify-content: center;
}

.agenciaimg{
    object-fit: cover; 
    
    background-color: #2e2e2e;
    height: 20rem;
    width: 20rem;
    min-height: 5rem;
    border:0.2rem solid #DEDE38;
}
#Empresa{
    display: grid;
    grid-template-rows: 5rem 1fr;
}
.empresaimg_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 8rem));
    height: 10rem;
    gap: 2%;
    justify-content: center;
}

.empresaimg{
    background-color: #2e2e2e;
    height: 8rem;
    min-height: 5rem;
    border:0.2rem solid #DEDE38;
}

#bodyB{
    display: grid;
    height: 100%;
    grid-template-rows: 9.5rem 150rem 280px; 
}

#mainB{
    height: 100%;
    
}

.main__section{
    display: grid;
    grid-template-rows: 50rem 40rem 40rem;
    height: 100%;
    gap: 10rem;
    padding-top: 5rem;
}


.m-s__article-formcontent{
    background-color:#989898;
    border: 0.15rem solid #DEDE38;
    width: 50%;
    max-width: 45rem;
    min-width: 28rem;
    border-radius: 0.5rem;
    display: grid;
    justify-self: center;
}


.m-s-a-f__select{
    background-color: #DEDE38;
}

.m-s-a_form{
    height: 100%;
    display: grid;
    box-sizing:border-box;
    grid-template-rows: 0.1fr 0.1fr 1fr;
    justify-items: center;
    padding-top: 5%;
    padding-bottom: 10%;
    
}

.m-s-a-f-d__item{
    width: 100%;
    position: relative;
}
.m-s-a-f__div{
    display: grid;
    height: 100%;
    width: 80%;
    grid-template-columns: 1fr 1fr;
}


.m-s-a-f-d__item:nth-child(1), .m-s-a-f-d__item:nth-child(2){
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    width: 80%;
    justify-self: center;
}

.m-s-a-f-d__item:nth-child(1) p, .m-s-a-f-d__item:nth-child(2) p{
    padding-top: 8%;
}
.m-s-a-f-d__item:nth-child(1) input, .m-s-a-f-d__item:nth-child(2) input{
    width: 100%;
    height: 50%;
    background-color: #2e2e2e;
    margin-top: 0.5rem;
    color: #2e2e2e;
}

.m-s-a-f-d__item:nth-child(3){
    text-align: left;
    margin: auto;
    width: 100%;
    grid-column: 1/3;
}
.m-s-a-f-d__item:nth-child(4){
    text-align: left;
    margin: auto;
    width: 100%;
    grid-column: 1/3;
}
.m-s-a-f-d__item:nth-child(5){
    text-align: left;
    margin: auto;
    width: 100%;
    grid-column: 1/3;
}

.m-s-a-f-d__item:nth-child(6){
    width: 80%;
}
.m-s-a-f-d__item:nth-child(7){
    width: 80%;
    justify-self: end;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}
.m-s-a-f-d__item:nth-child(8){
    text-align: left;
    margin: auto;
    width: 100%;
    grid-column: 1/3;
    text-align: center;
    border-radius: 0.2rem;
    height: 3rem;
    background-color: #DEDE38;
}

.m-s-a-f-d-it__Div{
    width: 100%;
    height: 3rem;
    padding: 0.8rem;
    box-sizing: border-box;
    border-radius: 0.2rem;
    background-color: #DEDE38;
}
.m-s-a-f-d__item>input{
    width: 100%;
    height: 3rem;
    padding: 0.8rem;
    box-sizing: border-box;
    color: #000000;
    border-radius: 0.2rem;
    background-color: #DEDE38;
}
.m-s-a-f-d__item>input::placeholder{
    color: #000000;
}

.m-s-a-f-d__item>select{
    width: 100%;
    height: 3rem;
    padding: 0.8rem;
    border-radius: 0.2rem;
    background-color: #DEDE38;
}

.m-s-a-f__h3{
    color: #FFFF00;
    font-size: 25px;
    margin: 0;
    padding: 0;
    margin-top: -0.4rem;
}

.m-s-a-f__h1{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-size: 35px;
    
}

.m-s-a-f__inputOption{
    color: #2e2e2e;
    border-color: #2e2e2e;
    background-color: #2e2e2e;
}

.m-s__article-comollegar{
    padding: 3rem;
}
.m-s__article-comollegar h2{
    font-weight: bold;
}

.m-s__article-comollegar p span{
    font-weight: bold;
}
.m-s__article-comollegar p{
    margin-top: 3rem;
    
}

.m-s__article-comollegar p{
    margin-top: 1rem;
    
}

.m-s__article-empresas{
    padding: 3rem;
}





/* boleto */
#bodyBo{
    display: grid;
    height: 100%;
    grid-template-rows: 9.5rem 150rem 280px; 
}
#mainBo{
    padding: 5%;
}
.mB__section{
    display: grid;
    width: 80%;
    height: 50%;
    margin: auto;
}


.mB-s__a{
    display: grid;
    grid-template-rows: 5rem 10rem 1fr;
    justify-items: left;
    background-color: #989898;
    border: 0.3rem solid #2e2e2e;
    padding: 8%;
}

.mB-s__a h3{
    font-size: 2.5rem;
    text-align: left;
}

.mB-s-a__div h1, .mB-s-a__div h3{
    font-size: 2rem;
}

.mB-s-a__div:nth-child(2){
    justify-self: center;
    
}





.mB-s__a .mB-s-a__div:nth-child(3){
    width: 100%;
    height: 100%;
}


.boletocontainer{
    border: 0.1rem solid #494848;
    background-color: #DEDE38;
    border-radius: 0.2rem;
    width: 100%;
    display: grid;
    padding: 1rem;
    box-sizing: border-box;
}
















/* calendario */

#mainC{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1%;
    padding: 1%;
}

#dataonclick{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1%;
    padding-top: 3%;
}

.dataonclick_div{
    background-color: #494848;
    height: 80%;
    width: 100%;
}

#bodyC{
    display: grid;
    grid-template-rows: 10rem 80rem 15rem;
}

#calendar-container {
    margin: auto;
    margin-top: 3rem;
    width: 50%;
    max-width: 50rem;
    border: 0.1rem solid #2e2e2e;
    border-radius: 0.5rem;
    height: 40rem;
    overflow: hidden;
    background-color: #D9D9D9;
    gap: 1rem;
    display: grid;
    grid-template-rows: 0.5fr 1fr 20fr;
    
}

#calendar-header {
    background-color: #989898;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    height: 5rem;
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
}

#calendar-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#weekdays, #days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

#weekdays {
    text-align: center;
    background-color: #D9D9D9;
    font-weight: bold;
}

#days {
    border-top: 1px solid #ddd;
    background-color: #D9D9D9;
    height: 90%;
    margin: auto;
    padding:0.5rem;
    box-sizing: border-box;
    width: 95%;
}

.day {
    text-align: end;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 0.2rem;
    position: relative;
}
.day span{

    position: absolute;
    width: 100%;
    height: 100%;
    
    margin: 0;
    margin-left: -100%;
}

.day:hover {
    background-color: #494848;
    color: #D9D9D9;
}

#month-year{
    font-size: 30px;
}



/* boletos */


#bodyBo{
    display: grid;
    height: 100%;
    grid-template-rows: 9.5rem 120rem 280px; 
}