body{
    height: 1000px;
}






/*  Estilo footer */

#footer{
    background-color: #989898;
    color: #000000;
    max-height: 280px;
    min-height: 50px;
    height: 100%;
    width: 100%;
    border: 1px solid red;
    box-sizing: content-box;
    display: grid;
    grid-template-rows: 90% 10%;
    
}

.footer__section{
    background-color: #989898;
    height: 100%;
    width: 100%;
}

.footer__address{
    background-color: #494848;
    height: 100%;
    width: 100%;
}

